<header>
    <div class="header_logo">
        <h1 >
            <a class="logo" href="{% url 'index' %}">Forkilla</a>
        </h1>
    </div><!-- Closing div header_logo -->

    <div class="search">
        <form action="search" method="GET">
            <label for="q">Search: </label>
            <input type="text" name="q" value=" {{ query|escape }}"/>
            <input type="submit" value="search" />
        </form>
    </div>

    <div class="login-section">
        {% if user.is_authenticated %}
            <div class="user_ui">
                <div class="user_menu_toggle">
                    <div class="profile_img">
                        
                    </div>
                </div><!-- Closing div user_menu_toggle -->
                
                <a class="nav-link navBar_Right_items" href="/accounts/logout/?next=/forkilla">Logout</a>
            </div><!--  Closing div user_ui -->
        {% else %}
            <a class="nav-link navBar_Right_items" href="/accounts/login/?next=/forkilla">Login</a>
            <a class="nav-link navBar_Right_items" href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
</header>
