<header>
    <div class="header_logo">
        <h1 >
            <a class="logo" href="">Forkilla</a>
        </h1>
    </div><!-- Closing div header_logo -->

    <div class="search">
        <form action="search" method="GET">
            <label for="q">Search: </label>
            <input type="text" name="q" value=" {{ query|escape }}"/>
            <input type="submit" value="search" />
        </form>
    </div>

    <div class="login-section">
        <form>
            <div class="group">
                <input type="text" placeholder="Name" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div><!-- Closing div group -->
            
            <div class="group">
                <input type="password" placeholder="Password" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
            </div><!-- Closing div group -->
            
            <div class="group">
                <input type="submit" value="Log In" />
            </div><!-- Closing div group -->
        </form>
    </div>
</header>
