{% extends 'forkilla/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/index.css">
<div class="container">
    <!--<div class="main_message">
        <h1>Enjoy your next meal!</h1>
        <h2>Live Life and Eat Happy</h2>
    </div>-->
    
    <div class="prommoted_restaurants_section">
        
        <div class="body_promoted_restaurants">
            
            <div class="slide-window">
                <ol class="slides" start="1">
                    {% for restaurant in restaurants %}
                    <li class="slide color-0" style="background-image:url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2110&q=80);">
                        <a href="{% url 'details' restaurant.restaurant_number%}">
                            <h2>{{restaurant.name}}</h2>
                            <p>
                                {{restaurant.menu_description}}
                            </p>
                        </a>
                    </li>
                    {% endfor %}
                </ol>
                
                <span class="nav fa fa-chevron-left fa-3x left"></span>
                <span class="nav fa fa-dhevron-right fa-3x right"></span>
            </div><!-- Closing div slide-window -->
            
        </div><!-- Closing div body_promoted_restaurants -->
    </div><!-- Closing div prommoted_restaurants_section -->
    
    {% include 'forkilla/mostViewedRestaurants.html' %}
</div><!-- Closing div container -->
{% endblock %}