<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>
        {% if categories %}
        <ul id="menu">
            {% for category in categories %}
              <li>
                <a href="{% url 'restaurants' category %}"> {{ category }} </a>
              </li>
            {% endfor %}
         </ul>
         {% else %}
            <p> No items are available.</p>
         {% endif %}
    </div>
</nav>