{% extends 'forkilla/base.html' %}

{% block title %} Restaurants {% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/restaurants.css">

<div class="restaurants_section">
    {% if city %} 
      <h3>
          {{city}}
          <br />
          {% if category %}
            <h3>{{city}}</h3>
          {% endif %}
      </h3>
    {% endif %}
    

    {% if restaurants %}
    	{% if promoted %}
            <h3>Promoted Restaurants</h3>
        {% endif %}
        
            <form action="{% url 'reservation' %}" method="GET">
                {% for restaurant in restaurants %}
                   <div class="restaurant">
                       <div class="restaurant_info">
                           <h2>
                               {{ restaurant.name }}
                           </h2>
                           <p class="information">
                               <a href="{% url 'restaurants' restaurant.category %}"> 
                                   {{restaurant.get_human_category}}
                               </a>
                               <br>
                               <a href="{% url 'details' restaurant.restaurant_number%}"> 
                                   {{restaurant.name}} 
                               </a> : {{restaurant.menu_description}}
                               <button type="submit" name="reservation" value="{{restaurant.restaurant_number}}" class="reserva"> 
                                   Reserva 
                               </button>
                               <br>
                               
                               {{  restaurant|escape }}
                           </p>
                       </div>
                       
                       <div class="restaurant_image">
                           {% if restaurant.featured_photo %}
                               <img src={{ restaurant.featured_photo.url }} alt="not found"/>
                           {% endif %}                       
                       </div>
                   </div><!-- Closing div restaurants -->
               {% endfor %}
               </form>
        
    {% else %}
        <p>No restaurants are available.</p>
    {% endif %}
    {% endblock %}
    
    {% include 'forkilla/mostViewedRestaurants.html' %}
</div>