{% extends 'forkilla/base.html' %}

{% block title %}Results of the search{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/search.css">

<div class="section_search">
    {% if query %}
        <h3> Results for "{{ query|escape }}"</h3>    
        {% if results %}
            {% for restaurant in results %}
                <div class="restaurant">
                    <div class="restaurant_info">
                        <h2>
                            {{ restaurant.name }}
                        </h2>
                        <p class="information">
                            {{ restaurant|escape }}
                        </p>
                        
                        <a  href="{% url 'details' restaurant.restaurant_number%}"> View More </a>
                        
                        <form action="{% url 'reservation' %}" method="get">
                            {% csrf_token %}
                            <button type="submit" name="reservation" value="{{restaurant.restaurant_number}}" class="reserva"> 
                                Reserva 
                            </button>
                        </form>
                    </div>
                    
                    <div class="restaurant_image">
                        {% if restaurant.featured_photo %}
                            <img src={{ restaurant.featured_photo.url }} alt="not found"/>
                        {% endif %}
                    </div>
                </div><!-- Closing div restaurants -->
            {% endfor %}
            
        {% else %}
            <div class="no_results">
                <div>
                    <img class="img_sad" src="/static/img/sad.png"  alt="sad"/>
                </div>
                <div>
                    <p>
                        No results found.
                    </p>
                </div>
            </div>
        {% endif %}
    {% endif %}
    
    {% include 'forkilla/mostViewedRestaurants.html' %}
</div><!-- Closing div section_search -->
{% endblock %}