body {
    background-image: linear-gradient( 135deg, #d16fe2 10%, #be2fd6 100%);
    background-attachment: fixed;	
    background-size: cover;
}

.login_section {
    width: 100vw;
    height: 93vh;
    margin: 0 auto;
}

.login_section h3 {
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin: 4em 0 0 0;
    margin: 30px;
    margin-top: 8vh;
    color: black;
    font-size: 1.8em;
}

.login {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input, .form select {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form select {
    height: 45px;
    -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.form input[type='submit'] {
    text-transform: uppercase;
    outline: 0;
    background: #c70e93;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form input[type='submit']:hover {
    background: #87069c;
}