{% extends 'forkilla/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/login.css">

<div class="login_section">

    <div class="login">
        <div class="form">
            {% if form.errors %}
                <p class="error">Sorry, that's not a valid username or password</p>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                <label for="username">User name:</label>
                <input type="text" name="username" value="" id="username">
                <label for="password">Password:</label>
                <input type="password" name="password" value="" id="password">
                <input type="hidden" name="next" value="{{ next|escape }}" />
                <input type="submit" value="login" />
            </form>
        </div><!-- Closing div login -->
    </div><!-- Closing div form -->
</div>
{% endblock %}