<header>
    {% include 'forkilla/navbar.html' %}
    
    <div class="header_logo">
        <h1 >
            <a class="logo" href="{% url 'index' %}">Forkilla</a>
        </h1>
    </div><!-- Closing div header_logo -->

    <div class="search">
        <form action="/search/" method="GET">
            <input type="text" name="q" value="{{query|escape}}" placeholder="Search Restaurant"/>
            <input type="submit" value="search" />
        </form>
    </div>

    <div class="login-section">
        {% if user.is_authenticated %}
            <div class="user_ui">
                <div class="user_menu_toggle">
                    <div class="profile_img">
                        
                    </div><!-- Closing div profile_img -->
                    
                    <span class="simple_arrow fa fa-chevron-up"></span>
                </div><!-- Closing div user_menu_toggle -->
                
                <!-- USER MENU -->
                
                <div class="user_menu">
                    <div class="user_info">
                        <div class="profile_img">
                            
                        </div><!-- Closing div profile_img -->
                        
                        <h4>{{ user.get_username }}</h4>
                        
                        <br />
                        
                        <a class="" href="{% url 'reservationlist' %}">Tus Reservas</a>
                        
                        <hr />
                        
                        <a class="fa fa-power-off" href="/accounts/logout/?next=/forkilla">Logout</a>
                    </div>
                </div><!-- Closing div user_menu -->
            </div><!--  Closing div user_ui -->
        {% else %}
            <div class="user_options">
                <ul>
                    <li>
                        <a class="" href="/accounts/login/?next=/forkilla">Login</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'register' %}">Register</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</header>