* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    float: left;
    height: 7vh;
    display: flex;
    align-items: center;
    background: black;
    position: fixed;
    margin-top: 0px;
    top: 0;
    transform: translateZ(0px);
    left: 0;
    z-index: 11;
}

.header::after {
    margin-top: 0px;
    top: 0;
}

.header::before {
    margin-top: 0px;
    top: 0;
}

header .header_logo {
    margin-left: 30px;
    top: 0;
    display: block;
    float: left;
    width: 70vw;
    position: relative;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    font-size: 1.4em;
    color: rgb(199, 14, 147);
}

.logo:hover {
    color: rgb(135, 6, 156);
}

header .login-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    float: right;
    width: 30vw;
}

header .login-section form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
}

.group {
    position: relative;
    height: auto;
    width: 26%;
    display: inline;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

.group input {
    border: none;
    border-bottom: 1px solid rgb(199, 14, 147);
    display: inline;
    background: black;
    color: rgb(199, 14, 147);
    margin-top: 4vh;
    font-size: 0.8em;
}

.group input[type=submit] {
    border: 1px solid rgb(199, 14, 147);
    display: inline;
    background: black;
    color: rgb(199, 14, 147);
    padding: 20px;
    margin-top: 0;
}

.group input:focus {
    outline: none;
    
}