* {
    margin: 0;
    padding: 0;
}

/*body {
    background-image: linear-gradient( 135deg, #c70e93 10%, #87069c 100%);
    background-attachment: fixed;	
    background-size: cover;
}*/

header {
    width: 100vw;
    float: left;
    height: 7vh;
    display: flex;
    align-items: center;
    background: black;
    position: fixed;
    margin-top: 0px;
    top: 0;
    transform: translateZ(0px);
    left: 0;
    z-index: 11;
}

.header::after {
    margin-top: 0px;
    top: 0;
}

.header::before {
    margin-top: 0px;
    top: 0;
}

header .header_logo {
    margin-left: 30px;
    top: 0;
    display: block;
    float: left;
    width: 70vw;
    position: relative;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    font-size: 1.4em;
    color: rgb(199, 14, 147);
}

.logo:hover {
    color: rgb(135, 6, 156);
}

header .login-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    float: right;
    width: 20vw;
}

header .login-section form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
}

.search {
    display: block;
    float: left;
    width: 60vw;
    align-items: center;
}

.search > form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
}

.search input {
    display: block;
    position: relative;
    width: 20vw;
    vertical-align: middle;
    display: inline;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.search input[type='submit'] {
    position: relative;
    display: inline;
    text-transform: uppercase;
    outline: 0;
    background: #c70e93;
    width: 10vw;
    margin-left: 20px;
    border: 1px solid #c70e93;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.search input[type='submit']:hover {
    background: #87069c;
    border: 1px solid #87069c;
}

.group {
    position: relative;
    height: auto;
    width: 26%;
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

.profile_img {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/8166xCVDGnL._SL1500_.jpg");
}

.group input {
    border: none;
    border-bottom: 1px solid rgb(199, 14, 147);
    display: inline;
    background: black;
    color: rgb(199, 14, 147);
    margin-top: 4vh;
    font-size: 0.8em;
}

.group input[type=submit] {
    border: 1px solid rgb(199, 14, 147);
    display: inline;
    background: black;
    color: rgb(199, 14, 147);
    padding: 20px;
    margin-top: 0;
}

.group input:focus {
    outline: none;
}

.section h2 {
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin: 4em 0 0 0;
    margin-top: 8vh;
    color: black;
    font-size: 1.8em;
}

.body_mostViewed_restaurants {
    width: 100vw;
    margin: 0 auto;
    height: 200vh;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5rem 0;
    z-index: 1;
}

.body_mostViewed_restaurants > div {
    display: block;
    width: 400px;
    float: left;
    height: 250px;
    margin: 20px;
    position: relative;
}

.restaurant_card > img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.restaurant_card:hover > img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.restaurant_card > div {
    text-align: center;
    position: absolute;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    bottom: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    color: black;
}

.restaurant_card > div > h2 {
    border-bottom: 1px solid #818181;
    padding: 0 0 1rem;
    color: black;
}

.restaurant_card > div > p {
    font-size: 0.8em;
    padding: 2rem;
    color: black;
}

.restaurant_card:hover > div {
    position: absolute;
    height: 250px;
    background: rgba(255, 255, 255, 0.5);
}